@import '../../styles/variables.scss';

.root {
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
  padding: 50px;
}

.anime {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  display: flex;
}

.info {
  width: 100%;
  margin-left: 43px;
}

.mainInfo {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

.animeImg {
  margin-bottom: -4px;
}

.name {
  font-size: 25px;
  font-weight: 600;
}

.rating,
.studio,
.stats {
  @include animeInfoPath;
  margin-bottom: 12px;
}

.studio {
  display: flex;
  flex-direction: column;
  gap: 5px;
  img {
    max-width: 300px;
    max-height: 150px;
  }
  margin-top: 27px;
}

.path {
  @include animeInfoPath;
  font-size: 17px;
  margin-bottom: 4px;
}
