@import '../../styles/variables.scss';

.types {
  display: flex;
  font-size: 19px;
  color: #000;
  gap: 16px;

  p {
    cursor: pointer;
    background: #fff;
    padding: 12px 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);

    &:hover {
      color: $main-color;
    }
  }
}

.list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 43px;
  row-gap: 43px;
  text-align: center;

  img {
    width: 100%;
  }
}

.active {
  color: $main-color;
  border-bottom: 3px solid $main-color;
}
