@import '../../styles/variables.scss';

.root {
  background-color: var(--background-color-content);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
  padding: 50px;
}

.character {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.head {
  display: flex;
}

.info {
  margin-left: 43px;
}

.mainInfo {
  p {
    @include animeInfoPath;
  }
  margin-top: 17px;
  ul {
    margin-top: 17px;
    li {
      span {
        font-weight: 500;
      }
      margin-top: 15px;
    }
  }
}

.characterImg {
  img {
    margin-bottom: -4px;
  }
  max-width: 225px;
}

.name {
  font-size: 25px;
  font-weight: 600;
}

.path {
  @include animeInfoPath;
  font-size: 17px;
  margin-bottom: 4px;
}

.animes {
  margin: 15px;
  display: block;
}

@media screen and (max-width: 790px) {
  .root {
    padding: 30px;
  }
  .head {
    flex-direction: column;
  }
  .info {
    margin-left: 0;
  }
  .characterImg {
    margin: 0px auto 24px auto;
  }
}
